<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--/*@thymesVar id="user" type="org.esupportail.esupsignature.entity.User"*/-->
<!--/*@thymesVar id="authUser" type="org.esupportail.esupsignature.entity.User"*/-->
<!--/*@thymesVar id="suUsers" type="java.util.List<org.esupportail.esupsignature.entity.User>"*/-->
<!--/*@thymesVar id="globalProperties" type="org.esupportail.esupsignature.config.GlobalProperties"*/-->
<!--/*@thymesVar id="keystoreFileName" type="java.lang.String"*/-->
<header th:fragment="nav" class="fixed-top">
    <nav id="navbar" class="nav nav-pills navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Carte Culture</a>
    </nav>
    <header class="page-header">
    </header>
</header>
</html>
